/// @name Cuatro App SASS
/// @author Alvaro Zambrana Fernandez
/// @link https://github.com/AlvaroZ-F/Cuatro

/// @name navbar customized
.navbar {
    margin-bottom: 0;

    .container{
        background-color: transparent;
    }

    a {
        color: set-text-color($main-color) !important;
    }

    .fa {
        font-size: 18px;
    }
}

/// @name Showcase item class
.showcase {
    background: url(../img/showcase.jpeg) no-repeat 0 -100px;
    background-size: cover;
    height: 600px;
    width: 100%;
    padding: 30px 0;

    h1 {
        font-size: 60px;
    }

    .container {
        background: #fff;
        opacity: 0.7;
        padding: 20px 30px 30px 30px;
    }
}

/// @name section a
.section-a {
    padding: 30px 0;
    text-align: center;
    background: $main-color;
    color: set-text-color($main-color);

    .container {
        background-color: transparent;
    }

    .fa {
        font-size: $icon-size;
    }
}

/// @name section b
.section-b {
    background: #e6ebf1;
    padding: 30px 0;

    .container {
        background-color: transparent;
    }

    img {
        width: 100%;
    }
}

.panel-heading h4 {
    color: set-text-color($main-color);
}

/// @name section c
.section-c {
    padding: 60px 0;
    text-align: center;
    background: $main-color;
    color: set-text-color($main-color);

    .container {
        background-color: transparent;
    }

    .btn-primary {
        background: darken($main-color, 10%);
    }
}

/// @name Title bar
.title-bar {
    background: url(../img/showcase.jpeg) no-repeat 0 -300px;
    background-size: cover;
    padding-bottom: 10px;
    border-bottom: 4px solid $main-color;
}

/// @name main section
.main {
    margin-top: 30px;
}

/// @name Custom Section Container GRID.
.container {
    max-width: $grid__bp-md * 1px;
    margin: 0 auto;
    background-color: $another-color;
    padding: 10px;
    box-sizing: border-box;

    &--fluid {
        margin: 0;
        max-width: 100%;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    @at-root {
        [class*='container__col-'] {
            width: 150px;
            height: 30px;
            background-color: $main-color;
            outline: 1px solid $another-color;
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-weight: bold;
            color: set-text-color($main-color);
        }
    }

    @for $i from 1 through $grid__cols {
        &__col-#{$i} {
            flex-basis: (100 / ($grid__cols / $i)) * 1%;
        }
    }
}

/// @name Custom Footer
footer {
    padding: 30px 0;
    background: darken($main-color, 10%);
    color: set-text-color($main-color);

    .container {
        background-color: transparent;
    }
}